{% extends 'base.html' %}

{% block content %}

<h1 class="text-white mb-4">👤 Hráči</h1>

<div class="row">

{% for player in players %}

<div class="col-md-4 mb-4">

    <div class="card card-custom">

        <div class="card-body">

            <h4>{{ player.username }}</h4>

            <p>
                🏆 Výhry: {{ player.battles_won }}
            </p>

            <a href="/players/{{ player.player_id }}/"
               class="btn btn-primary">
                Detail
            </a>

        </div>

    </div>

</div>

{% endfor %}

</div>

{% endblock %}